In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [19]:
df=pd.read_csv(r"C:\Users\Lenovo\OneDrive\Desktop\dataset\heart.csv")
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [21]:
df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [22]:
df.shape

(303, 14)

In [23]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [25]:
df.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [31]:
dataset=pd.get_dummies(df,columns=['sex','cp','fbs','restecg','exang','slope','ca','thal'])

In [34]:
from sklearn.preprocessing import StandardScaler
coloumns_rescale=['age','trestbps','chol','thalach','oldpeak']
dataset[coloumns_rescale]=StandardScaler().fit_transform(dataset[coloumns_rescale])

In [36]:
from sklearn.model_selection import train_test_split
y=dataset.target
x=dataset.drop(['target'],axis=1)

In [49]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.25,shuffle=10)

In [50]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=10,criterion='entropy')

In [51]:
model.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10)

In [55]:
y_pred=model.predict(x_test)

In [56]:
from sklearn import metrics

print("model accuracy is: ",metrics.accuracy_score(y_test,y_pred))

model accuracy is:  0.8421052631578947

In [57]:
from sklearn.neighbors import KNeighborsClassifier

model=KNeighborsClassifier(n_neighbors=5)

In [58]:
model.fit(x_train,y_train)

KNeighborsClassifier()

In [59]:
y_pred=model.predict(x_test)

In [60]:
from sklearn import metrics

print("prediction score of KNNneighbour is: ", metrics.accuracy_score(y_test,y_pred))

prediction score of KNNneighbour is:  0.8289473684210527

In [61]:
from sklearn.linear_model import LogisticRegression

model=LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [62]:
y_pred=model.predict(x_test)

In [63]:
from sklearn import metrics

print(" accuracy of Logistic Regreession would be: ",metrics.accuracy_score(y_test,y_pred))

 accuracy of Logistic Regreession would be:  0.8421052631578947